@font-face {
  font-family: "OrkneyMedium";
  src: url("../../../public/fonts/orkney.medium.otf")
}

@font-face {
  font-family: "OrkneyRegular";
  src: url("../../../public/fonts/orkney.regular.otf")
}
